{% include "header.html" %}

{% load static %}
<div id="about">
  <h1 style="text-align:center;">Welcome to Health disease prediction  application</h1>
         

         
          <div class="card container mb-1 text-dark mahajan1" style="background-color:grey;" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/my.jpeg' %}" alt="" class="cardimg">
                  </div>
                  <div class="col-8">
                           Hi , this is Sukritan Gupta I am 6th sem cs student. I have keen interst in web development.
                           <br>
                           <br>
                           <button class="btn btn-primary"><a href="https://www.linkedin.com/in/sukritan-gupta-a38430219/" target="_blank" style="text-decoration:None; color:white;">Linkedin</a> </button>
                           <button class="btn btn-primary"><a href="https://www.instagram.com/sukritangupta/" target="_blank" style="text-decoration:None; color:white;">Instagram</a> </button>
                           <button class="btn btn-primary"><a href="https://twitter.com/1871_sukritan" target="_blank" style="text-decoration:None; color:white;">Twitter</a> </button>
                          
                  </div>
                    
          </div>
           
                    
          </div>

           <div class="card container mb-1 text-dark" style="background-color:grey;" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/swap.jpg' %}" alt="" class="cardimg">
                  </div>
                  <div class="col-8">
                          Hi my self Swapnil kumar , I am professional web developer .
                           <br>
                           <br>
                           <button class="btn btn-primary"><a href="https://www.linkedin.com/in/kumar-swapnil-40b748217/" target="_blank" style="text-decoration:None; color:white;">Linkedin</a> </button>
                           <button class="btn btn-primary"><a href="https://twitter.com/MottoGhost" target="_blank" style="text-decoration:None; color:white;">Twitter</a> </button>
                           <button class="btn btn-primary"><a href="https://leetcode.com/moto_ghost/" target="_blank" style="text-decoration:None; color:white;">Leet code</a> </button>
                  </div>
                    
          </div>      
          </div>
          <div class="card container mb-1 text-dark" style="background-color:grey;" >
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/rajat.jpg' %}" alt="" class="cardimg">
                  </div>
                  <div class="col-8">
                          Hi my self Rajat Kumar Das , I am professional coder and hava a keen interest in ml .
                           <br>
                           <br>
                           <button class="btn btn-primary"><a href="https://www.linkedin.com/in/rajat-das-063bb5228/" target="_blank" style="text-decoration:None; color:white;">Linkedin</a> </button>
                           <button class="btn btn-primary"><a href="https://twitter.com/1876Das" target="_blank" style="text-decoration:None; color:white;">Twitter</a> </button>
                           <button class="btn btn-primary"><a href="https://www.instagram.com/alwys_rjtkumr/" target="_blank" style="text-decoration:None; color:white;">Instagram</a> </button>
                  </div>
                    
          </div>
           
                    
          </div>
          <div class="card container mb-1 text-dark" style="background-color:grey;">
          <div class="card-body row" >
                  <div class="col-4">
                         <img src="{% static './image/ananad.jpg' %}" alt="" class="cardimg">
                  </div>
                  <div class="col-8">
                          Hi my self Anand Pratap singh , I am professional android developer .
                           <br>
                           <br>
                           <button class="btn btn-primary"><a href="https://linkedin.com/in/anand-pratap-singh-819135219" target="_blank" style="text-decoration:None; color:white;">Linkedin</a> </button>
                           <button class="btn btn-primary"><a href=" https://twitter.com/AnandPr06055115" target="_blank" style="text-decoration:None; color:white;">Twitter</a> </button>
                           <button class="btn btn-primary"><a href="https://github.com/Anand1308" target="_blank" style="text-decoration:None; color:white;">Github</a> </button>
                  </div>
                    
          </div>          
          </div>
</div>
 
{% include "footer.html" %}