<hr>
<div id="footer">
              
             <footer id="footer1">
         <div class="container">
         <div class="row">
             <div class="col-4">
        
        <span>Health disease predictor application <br>
        develop to help the patient to check the <br>
        health .
        </span> 
         </div>
         <div class="col-4">
           <nav>
           <ul>
            <li><a  href="{% url 'home' %}">Home</a> </li>
            <li><a  href="{% url 'heart' %}">Heart Disease</a></li>
            <li>  <a href="{% url 'kidney' %}">Kidney</a></li>
            <li><a href="{% url 'parkinson' %}">Parkinsons</a></li>
            <li><a   href="{% url 'diab' %}">Diabetes</a></li>
          <li> <a  href="{% url 'brain_mri' %}">Brain_mri</a></li>
          <li> <a  href="{% url 'aboutus' %}">Aboutus</a></li>
          </ul>
           
           </nav>
         </div>
    
         <div class="col-4">
         <ul>
         <li><a href="">Twiter</a></li>
         <li><a href="">Linkedin</a></li>
         <li><a href="">Instagram</a></li>
         <li><a href="">Facebook</a></li>
         
         </ul>
         
         </div>
          </div>
         </div>
        <center>
        <h5>Copywrite&copy; by Health disease prediction application 2023</h5>
        </center> 
</footer>
          </div>
</body>
</html>